/* Styles généraux */
body {
    background: url('src/valentine-background.gif') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font-family: 'Arial', sans-serif;
    text-align: center;
    transition: background 0.5s ease-in-out;
    padding-bottom: 60px; /* Ajout d'un espace pour ne pas cacher le footer */
}

.valentine-header {
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    border: 3px solid #ff66cc;
}

#gameLogo {
    max-width: 100%;
    height: auto;
    border-bottom: 3px solid #ff66cc;
    padding-bottom: 20px;
}

.start-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
}

.start-button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
}

/* Section de fin du jeu */
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
}

.circle.green {
    border-color: #28a745;
    color: #28a745;
}

.circle.red {
    border-color: #dc3545;
    color: #dc3545;
}

/* Liste des bonnes réponses */
#goodAnswers {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
    color: #333;
}

#goodAnswers li {
    background-color: #f8f9fa;
    border: 1px solid #ff66cc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

#goodAnswers li span {
    font-weight: bold;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
}

/* Animation et transitions */
.response-message {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.response-message.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.response-message.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
